# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path('Resources/applicants_data.csv'))


# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN','NAME'])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes=='object'].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [7]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [8]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns=enc.get_feature_names(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [9]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame

non_categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes!='object'].index)
encoded_df =pd.concat([applicant_data_df[non_categorical_variables], encoded_df], axis=1)

# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [10]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y.head()

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [11]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=['IS_SUCCESSFUL'])

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [12]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [13]:
# Create a StandardScaler instance
scaler = StandardScaler().fit(X_train)

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [14]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [15]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [16]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = (number_input_features + 1) // 2 

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [17]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = (hidden_nodes_layer1 + 1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [18]:
# Create the Sequential model instance
nn = Sequential()

In [19]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [20]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [21]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="sigmoid"))

In [22]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [23]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [24]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 753us/step - loss: 0.5724 - accuracy: 0.7229
Epoch 2/100
804/804 [==============================] - 1s 732us/step - loss: 0.5518 - accuracy: 0.7314
Epoch 3/100
804/804 [==============================] - 1s 827us/step - loss: 0.5487 - accuracy: 0.7329
Epoch 4/100
804/804 [==============================] - 1s 745us/step - loss: 0.5472 - accuracy: 0.7331
Epoch 5/100
804/804 [==============================] - 1s 720us/step - loss: 0.5454 - accuracy: 0.7350
Epoch 6/100
804/804 [==============================] - 1s 722us/step - loss: 0.5446 - accuracy: 0.7334
Epoch 7/100
804/804 [==============================] - 1s 716us/step - loss: 0.5438 - accuracy: 0.7353
Epoch 8/100
804/804 [==============================] - 1s 722us/step - loss: 0.5426 - accuracy: 0.7360
Epoch 9/100
804/804 [==============================] - 1s 715us/step - loss: 0.5419 - accuracy: 0.7359
Epoch 10/100
804/804 [==============================] - 1s 728us/step - loss: 0.5415 - accuracy: 0.7371
Epoch 11/100
804/804 [==============================] - 1s 716us/step - loss: 0.5409 - accuracy: 0.7370
Epoch 12/100
804/804 [==============================] - 1s 726us/step - loss: 0.5406 - accuracy: 0.7368
Epoch 13/100
804/804 [==============================] - 1s 720us/step - loss: 0.5401 - accuracy: 0.7380
Epoch 14/100
804/804 [==============================] - 1s 717us/step - loss: 0.5399 - accuracy: 0.7377
Epoch 15/100
804/804 [==============================] - 1s 727us/step - loss: 0.5388 - accuracy: 0.7383
Epoch 16/100
804/804 [==============================] - 1s 729us/step - loss: 0.5386 - accuracy: 0.7383
Epoch 17/100
804/804 [==============================] - 1s 718us/step - loss: 0.5378 - accuracy: 0.7380
Epoch 18/100
804/804 [==============================] - 1s 725us/step - loss: 0.5383 - accuracy: 0.7379
Epoch 19/100
804/804 [==============================] - 1s 744us/step - loss: 0.5375 - accuracy: 0.7383
Epoch 20/100
804/804 [==============================] - 1s 712us/step - loss: 0.5369 - accuracy: 0.7383
Epoch 21/100
804/804 [==============================] - 1s 726us/step - loss: 0.5368 - accuracy: 0.7389
Epoch 22/100
804/804 [==============================] - 1s 717us/step - loss: 0.5367 - accuracy: 0.7390
Epoch 23/100
804/804 [==============================] - 1s 722us/step - loss: 0.5367 - accuracy: 0.7383
Epoch 24/100
804/804 [==============================] - 1s 728us/step - loss: 0.5359 - accuracy: 0.7395
Epoch 25/100
804/804 [==============================] - 1s 722us/step - loss: 0.5360 - accuracy: 0.7388
Epoch 26/100
804/804 [==============================] - 1s 759us/step - loss: 0.5349 - accuracy: 0.7401
Epoch 27/100
804/804 [==============================] - 1s 710us/step - loss: 0.5351 - accuracy: 0.7398
Epoch 28/100
804/804 [==============================] - 1s 724us/step - loss: 0.5352 - accuracy: 0.7405
Epoch 29/100
804/804 [==============================] - 1s 723us/step - loss: 0.5348 - accuracy: 0.7390
Epoch 30/100
804/804 [==============================] - 1s 816us/step - loss: 0.5347 - accuracy: 0.7394
Epoch 31/100
804/804 [==============================] - 1s 760us/step - loss: 0.5341 - accuracy: 0.7407
Epoch 32/100
804/804 [==============================] - 1s 732us/step - loss: 0.5343 - accuracy: 0.7388
Epoch 33/100
804/804 [==============================] - 1s 823us/step - loss: 0.5340 - accuracy: 0.7404
Epoch 34/100
804/804 [==============================] - 1s 831us/step - loss: 0.5342 - accuracy: 0.7402
Epoch 35/100
804/804 [==============================] - 1s 791us/step - loss: 0.5340 - accuracy: 0.7406
Epoch 36/100
804/804 [==============================] - 1s 768us/step - loss: 0.5330 - accuracy: 0.7413
Epoch 37/100
804/804 [==============================] - 1s 808us/step - loss: 0.5334 - accuracy: 0.7406
Epoch 38/100
804/804 [==============================] - 1s 788us/step - loss: 0.5333 - accuracy: 0.7402
Epoch 39/100
804/804 [==============================] - 1s 725us/step - loss: 0.5330 - accuracy: 0.7406
Epoch 40/100
804/804 [==============================] - 1s 730us/step - loss: 0.5326 - accuracy: 0.7417
Epoch 41/100
804/804 [==============================] - 1s 729us/step - loss: 0.5329 - accuracy: 0.7404
Epoch 42/100
804/804 [==============================] - 1s 722us/step - loss: 0.5324 - accuracy: 0.7411
Epoch 43/100
804/804 [==============================] - 1s 732us/step - loss: 0.5324 - accuracy: 0.7416
Epoch 44/100
804/804 [==============================] - 1s 727us/step - loss: 0.5321 - accuracy: 0.7404
Epoch 45/100
804/804 [==============================] - 1s 710us/step - loss: 0.5321 - accuracy: 0.7412
Epoch 46/100
804/804 [==============================] - 1s 734us/step - loss: 0.5325 - accuracy: 0.7405
Epoch 47/100
804/804 [==============================] - 1s 722us/step - loss: 0.5317 - accuracy: 0.7409
Epoch 48/100
804/804 [==============================] - 1s 720us/step - loss: 0.5316 - accuracy: 0.7420
Epoch 49/100
804/804 [==============================] - 1s 725us/step - loss: 0.5313 - accuracy: 0.7416
Epoch 50/100
804/804 [==============================] - 1s 733us/step - loss: 0.5315 - accuracy: 0.7419
Epoch 51/100
804/804 [==============================] - 1s 753us/step - loss: 0.5310 - accuracy: 0.7416
Epoch 52/100
804/804 [==============================] - 1s 727us/step - loss: 0.5309 - accuracy: 0.7416
Epoch 53/100
804/804 [==============================] - 1s 709us/step - loss: 0.5310 - accuracy: 0.7423
Epoch 54/100
804/804 [==============================] - 1s 755us/step - loss: 0.5311 - accuracy: 0.7414
Epoch 55/100
804/804 [==============================] - 1s 715us/step - loss: 0.5304 - accuracy: 0.7422
Epoch 56/100
804/804 [==============================] - 1s 756us/step - loss: 0.5308 - accuracy: 0.7414
Epoch 57/100
804/804 [==============================] - 1s 789us/step - loss: 0.5306 - accuracy: 0.7416
Epoch 58/100
804/804 [==============================] - 1s 731us/step - loss: 0.5300 - accuracy: 0.7426
Epoch 59/100
804/804 [==============================] - 1s 747us/step - loss: 0.5305 - accuracy: 0.7427
Epoch 60/100
804/804 [==============================] - 1s 716us/step - loss: 0.5301 - accuracy: 0.7425
Epoch 61/100
804/804 [==============================] - 1s 748us/step - loss: 0.5303 - accuracy: 0.7422
Epoch 62/100
804/804 [==============================] - 1s 727us/step - loss: 0.5298 - accuracy: 0.7430
Epoch 63/100
804/804 [==============================] - 1s 716us/step - loss: 0.5296 - accuracy: 0.7427
Epoch 64/100
804/804 [==============================] - 1s 724us/step - loss: 0.5298 - accuracy: 0.7418
Epoch 65/100
804/804 [==============================] - 1s 726us/step - loss: 0.5292 - accuracy: 0.7427
Epoch 66/100
804/804 [==============================] - 1s 715us/step - loss: 0.5296 - accuracy: 0.7430
Epoch 67/100
804/804 [==============================] - 1s 758us/step - loss: 0.5293 - accuracy: 0.7428
Epoch 68/100
804/804 [==============================] - 1s 748us/step - loss: 0.5293 - accuracy: 0.7426
Epoch 69/100
804/804 [==============================] - 1s 766us/step - loss: 0.5293 - accuracy: 0.7430
Epoch 70/100
804/804 [==============================] - 1s 773us/step - loss: 0.5295 - accuracy: 0.7412
Epoch 71/100
804/804 [==============================] - 1s 797us/step - loss: 0.5290 - accuracy: 0.7427
Epoch 72/100
804/804 [==============================] - 1s 826us/step - loss: 0.5288 - accuracy: 0.7434
Epoch 73/100
804/804 [==============================] - 1s 778us/step - loss: 0.5294 - accuracy: 0.7428
Epoch 74/100
804/804 [==============================] - 1s 771us/step - loss: 0.5290 - accuracy: 0.7432
Epoch 75/100
804/804 [==============================] - 1s 815us/step - loss: 0.5289 - accuracy: 0.7434
Epoch 76/100
804/804 [==============================] - 1s 804us/step - loss: 0.5284 - accuracy: 0.7423
Epoch 77/100
804/804 [==============================] - 1s 748us/step - loss: 0.5285 - accuracy: 0.7426
Epoch 78/100
804/804 [==============================] - 1s 725us/step - loss: 0.5284 - accuracy: 0.7431
Epoch 79/100
804/804 [==============================] - 1s 751us/step - loss: 0.5284 - accuracy: 0.7441
Epoch 80/100
804/804 [==============================] - 1s 880us/step - loss: 0.5283 - accuracy: 0.7431
Epoch 81/100
804/804 [==============================] - 1s 821us/step - loss: 0.5281 - accuracy: 0.7425
Epoch 82/100
804/804 [==============================] - 1s 828us/step - loss: 0.5279 - accuracy: 0.7427
Epoch 83/100
804/804 [==============================] - 1s 867us/step - loss: 0.5280 - accuracy: 0.7432
Epoch 84/100
804/804 [==============================] - 1s 816us/step - loss: 0.5278 - accuracy: 0.7425
Epoch 85/100
804/804 [==============================] - 1s 770us/step - loss: 0.5278 - accuracy: 0.7436
Epoch 86/100
804/804 [==============================] - 1s 735us/step - loss: 0.5280 - accuracy: 0.7429
Epoch 87/100
804/804 [==============================] - 1s 739us/step - loss: 0.5278 - accuracy: 0.7433
Epoch 88/100
804/804 [==============================] - 1s 735us/step - loss: 0.5277 - accuracy: 0.7433
Epoch 89/100
804/804 [==============================] - 1s 773us/step - loss: 0.5276 - accuracy: 0.7426
Epoch 90/100
804/804 [==============================] - 1s 739us/step - loss: 0.5276 - accuracy: 0.7434
Epoch 91/100
804/804 [==============================] - 1s 750us/step - loss: 0.5275 - accuracy: 0.7424
Epoch 92/100
804/804 [==============================] - 1s 747us/step - loss: 0.5272 - accuracy: 0.7440
Epoch 93/100
804/804 [==============================] - 1s 745us/step - loss: 0.5272 - accuracy: 0.7434
Epoch 94/100
804/804 [==============================] - 1s 790us/step - loss: 0.5277 - accuracy: 0.7427
Epoch 95/100
804/804 [==============================] - 1s 746us/step - loss: 0.5273 - accuracy: 0.7428
Epoch 96/100
804/804 [==============================] - 1s 728us/step - loss: 0.5273 - accuracy: 0.7440
Epoch 97/100
804/804 [==============================] - 1s 740us/step - loss: 0.5274 - accuracy: 0.7439
Epoch 98/100
804/804 [==============================] - 1s 740us/step - loss: 0.5276 - accuracy: 0.7434
Epoch 99/100
804/804 [==============================] - 1s 743us/step - loss: 0.5271 - accuracy: 0.7434
Epoch 100/100
804/804 [==============================] - 1s 741us/step - loss: 0.5273 - accuracy: 0.7428

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [25]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5708 - accuracy: 0.7292 - 240ms/epoch - 895us/step
Loss: 0.5707617402076721, Accuracy: 0.7292128205299377

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [26]:
# Set the model's file path
file_path = Path("Resources/AlphabetSoup.h5")

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [34]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5708 - accuracy: 0.7292 - 173ms/epoch - 645us/step
Loss: 0.5707617402076721, Accuracy: 0.7292128205299377

In [35]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =# YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

SyntaxError: invalid syntax (Temp/ipykernel_5824/2553138094.py, line 4)

In [ ]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = # YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

### Step 3: Save each of your alternative models as an HDF5 file.

In [ ]:
# Set the file path for the first alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE

In [ ]:
# Set the file path for the second alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE